/* body - This is a single line CSS comment*/

        /*
            This is a multi-line CSS
            #FF4A4A
            #FF9551
            #6FEDD6
            #B9FFF8
            INSPIRATION FOR COLOR: https://www.oberlo.com/blog/color-psychology-color-meanings
        */

        *{
            padding:0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: lightyellow;
            background-image: url("tech2.png");
            background-size: 30% 110%;
            background-repeat: no-repeat;
            background-position: 85% 30%;
            /*background-position: right;*/
            background-attachment: fixed;
            color: #0000; 
            /*font-family: "Calibri", sans-serif;*/ 
            color: #000;
            font-family: 'Open Sans', sans-serif;
            margin-top: 10px; /*margin-top: 5%;*/ 
            margin-bottom: 0%; 
            margin-right: 10px;
            margin-left: 0px;
        }

        header{
            /*padding: 2% 10% 2%; */
            margin-left: 20px;
            margin-right: 30%;
            /*background-color: lightblue;*/
        }

        h1{
            font-weight: 500px;
            /*text-transform: uppercase;*/
        }

        hr {
            height: 4px;
            width: 850px;
            border-left: 0px;
            border-right: 0px;
           /* background-color: orangered;*/
         }

        section{
            /*background-color: lightblue;*/
            margin-left: 20px;
         }


        img{
            border-radius: 50%;
            height: 200px;
            width: 200px;
            border: 2px solid #000;
        }

        main{
            padding: 0% 0%;
        }

       
        /*h3{
           font-weight: 500%; 
        } */

        .table__skills{
            border-spacing: 10px;
        }

        th{
            /*font-weight: 400px;*/
            color: black;
        }

         td{
            padding: 10px 15px 6px;
         }

        .header__td--empty{
           /* background-color: orange; */
            padding-left: 10px;
            padding-right: 10px;
        }

        /*.container{
          
            height: 200px;

        } */
        .music{
            width: 30%; 
            background-color: rgb(19,17,17);
            /*opacity: 50%;*/

            margin: 2% 20%;
        }

         /*.testDiv{
            width:69% ;
            height:35px;
            background-color: green;
            margin-top: 30px;
            margin-left: 17px;
            margin-right: 0px;
            margin-bottom: 40px;
        } */

        .footer{
            height: 10vh;
            width: 100%;
            background-color: rgb(22,19, 19);
            color: white;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 60px;
            
        }


        /*************************MEDIA QUERRIES*************************************/

        
        /*-----------------------------------------------BODY ELEMENT----------------------------------------*/        
       @media screen and (max-width:600px){
            body{
                background-size: cover;
                background-position: 50% 50%;
                background-attachment: fixed;
                background-image: linear-gradient(to right bottom, #ddb4a7e9, #74bccb8f),url("imgs/tech.png");
            }
        }